p {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 20px;
}

div.tab {
	padding: 16px 16px 16px 16px;
}

/* This makes a link become a button */
.button {
	/* Image properties */
	display: inline-block;
	background-image: url("img/BlueSquareButton.png");
	background-repeat: no-repeat;
	background-size: 100% 42px;
	padding: 10px 12px;

	/* Text properties */
	color: purple;
	text-decoration: none;
	left: 0px;
	height: 24px;
	width: auto;
	text-align: center;
	font-family: "Times New Roman";
}

.button:hover {
	background-image: url("img/GraySquareButton.png");
	cursor: pointer;
}

a.button:link { color: black; }
a.button:hover { color: white; }

.pre {
    display: inline;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}

/* A page break (takes up an entire screen) */
br.page-break {
	display: block;		/* makes it have a width */
	content: "";		/* clears default height */
	margin-top: 100vh;	/* changes the height */
}

/* Half of a page break (takes up half of the screen */
br.half-break {
	display: block;		/* makes it have a width */
	content: "";		/* clears default height */
	margin-top: 50vh;	/* changes the height */
}